.li-read{
width:93px; 
border-right:1px solid #e4e8eb; 
text-align:center;
padding-bottom:15px;
padding-top:15px;
font-weight:bold;
}

.naver-tv{
margin-bottom:20px;
}



body{
overflow-x:hidden;
}

.head_contain{
  margin-top:50px;
  margin-bottom:50px;
}

.nav-li-green{
  padding-right:12px;
  padding-top:15px;
  color: #03c75a;
  font-weight: bold;
}

.nav-li-black{
  padding-right:20px;
  padding-top:15px;
  color: black;
  font-weight: bold;
}


.btn_login{
font-size:18px;
color:white;
background-color:#19ce60;
margin-top:10px;
padding-top:5px;
padding-bottom:5px;
border:none;
outline:0;
width:300px;
height:50px;
}

.navcontainer{
 width:60%;
  margin:0 auto;
 display: inline-block;
}

.navbar {
  text-align:center;
  padding-top: 5px;
  padding-bottom: 16px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 0;
  font-size: 15px;
  background-color: white;
  border:2px solid #e4e8eb;
  border-left: none;
  border-right: none;
  width: 100%;
}

.search-box{
  height:50px;
  width: 570px;
  border: none;
  outline:none;
border-top:none;
border-left:none;
border-right:none;
border-bottom:none;
  margin-top: 5px;
}

.search-icon{
  font-size:30px;
  color: white;
  height:70px;
  width: 70px;
  border-radius: 0px;
  background-color:#19ce60;
  border:none;
}

.green-window{
  width: 600px;
  height:70px;
  border :3px solid #19ce60;
  border-radius: 0px;
}

.shopping_img span {
  font-size: 11px;
}

.shopping_title{
margin-bottom:20px;
}

div{
overflow:hidden;
height:auto;
}

.shopping_content{
border:1px solid #e4e8eb;
}


.s_title{
font-size:12px;
margin-right:10px;
margin-left:10px;
}

.s_title_2{
font-size:12px;
margin-right:5px;
margin-left:5px;
}

.shopping-shop{
background-color:#f7f9fa;
padding-top:10px;
padding-bottom:10px;
}

.shopping-shop > img{
text-align:center;
font-size:12px;
padding-right:0px;
padding-left:0px;
margin-bottom:10px;
}

.shopping-list{
margin-top:15px;
padding-left:20px;
}

.shopping-list li::marker{
color:#09ce20;
}

.shopping-li{
margin-bottom:10px;
}

.shopping-banner-list{
 list-style:none;
padding-left:10px;
}

.banner-li{
display:inline;
}

.banner-li > img{
padding-left:0px;
padding-right:0px;
display:inline-block;

}

.footer-li{
  display:inline; 
  list-style: none; 
  margin-right:10px;
}

.weather_info ul,li{list-style-type: none;}
.weather_info{
  width: 330px; 
  overflow: hidden;
  margin-top: 10px;
  font-size: 13px;
  float: right;
  height: 25px;
}
.weather_info ul{display: flex;}
.weather_info li{width: 270px;  margin-right:50px; height: auto;}


.logout{
  position: absolute;
  border: none;
  top: 25px;
  right: 25px;
  padding: 6px 10px 6px 11px;
  background-color: #ccd0d4;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.myinfo{
  position: absolute;
  top: 30px;
  left: 25px;
  right: 0;
  bottom: 0;
  opacity: .7;
  background-color: white;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}